name: Linting with cppcheck

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install cppcheck
        run: sudo apt-get update && sudo apt-get install -y cppcheck

      - name: Run cppcheck on C source files
        run: |
          cppcheck --enable=all --suppress=missingIncludeSystem --std=c99 sender.c receiver.c
